#!/usr/bin/env fish

# call functions
abbr --add up update_packages

# jump to directory
abbr --add config __zoxide_z $HOME/.config
abbr --add cz __zoxide_z $HOME/.local/share/chezmoi
abbr --add dvn __zoxide_z $HOME/src/dev-notes
abbr --add local __zoxide_z $HOME/.local

# fish
abbr --add efish exec fish
abbr --add funcs functions
# dotdot copied from <https://fishshell.com/docs/current/interactive.html#abbreviations>
abbr --add dotdot --regex '^\.\.+$' --function multicd

# generic Linux/UNIX utilities
abbr --add , command # easier way to call commands hidden behind an alias
abbr --add back cd -
abbr --add bce 'bc --expression=\''
{{- if .isMacOS }}
abbr --add caf caffeinate -u -t 3600 # 1 hour
abbr --add half-caf caffeinate -u -t 1800 # half hour
{{- end}}
abbr --add chx chmod +x # make file executable
abbr --add cls clear
abbr --add cp cp -iv
abbr --add cpr cp -ivr
abbr --add crm command rm -i
abbr --add his history
abbr --add jctl journalctl
abbr --add l ls -a
abbr --add lec 'echo $status' # last exit code
abbr --add lns ln -s
abbr --add mv mv -iv
abbr --add sctl systemctl

# bat
abbr --add b bat
# brew
abbr --add brewup brew upgrade
# cargo
abbr --add jj cargo # easer to type than 'ca'
abbr --add jjb cargo build
abbr --add jjr cargo run
abbr --add jjt cargo test
# chezmoi
abbr --add cm chezmoi --verbose
abbr --add cma chezmoi apply
abbr --add cmai chezmoi --verbose apply --interactive
abbr --add cmd chezmoi --verbose diff
abbr --add cme chezmoi --verbose edit
abbr --add cmef 'chezmoi --verbose edit $(fd --hidden . $HOME/.config | fzf)'
abbr --add cmi chezmoi --verbose ignored
{{- if .isMacOS }}
abbr --add cmk 'chezmoi re-add $HOME/.config/karabiner/karabiner.json'
{{- end}}
abbr --add cmr chezmoi re-add
abbr --add cms chezmoi status
# cht.sh
abbr --add ch cht.sh
abbr --add cht cht.sh
abbr --add cheat cht.sh
# datasette
abbr --add ds datasette
# difftastic
abbr --add difftastic difft
# docker
abbr --add do docker
abbr --add doc docker compose
abbr --add doi docker image
abbr --add dois docker images
abbr --add dop docker ps -a
abbr --add dops docker ps
abbr --add dor docker run
# dotnet
abbr --add dn dotnet
abbr --add dnb dotnet build
abbr --add dnc dotnet clean
abbr --add dnf dotnet format
abbr --add dnr dotnet run
abbr --add dns dotnet user-secrets
abbr --add dnt dotnet test
abbr --add dnu dotnet user-secrets
abbr --add dnw dotnet watch
# fd
abbr --add fd 'fd --hidden'
abbr --add fde 'fd --extension'
abbr --add fdf 'fd --type file'
# GitHub CLI
#: TODO: can this be done inside the gh cli app?
abbr --add ghv 'gh pr view --web || gh repo view --web'
# glow
abbr --add md glow
abbr --add mdp glow --tui
# golang
abbr --add gg go
abbr --add ggb go build
abbr --add ggr go run
# jless
abbr --add jl jless
# kubectl
abbr --add kub kubectl
# npm
abbr --add nil 'npm install --legacy-peer-deps'
abbr --add nr 'npm run'
abbr --add nrb 'npm run build'
abbr --add nrl 'npm run lint'
abbr --add nrestart 'npm run build && npm run start'
abbr --add nrs 'npm run start'
abbr --add nrt 'npm run test'
# pinfo
abbr --add info pinfo
# python
abbr --add py python3
abbr --add pym python3 -m
abbr --add python python3
# ranger
abbr --add ra ranger
# ripgrep
abbr --add rgf rg --fixed-strings # verbatim search (i.e. disable regex)
abbr --add rgi rg --ignore-case # case-insensitive search
abbr --add rguuu rg -uuu # same as `rg --no-ignore --hidden --binary` & equiv. to `grep -r`
{{- if .isMacOS }}
# Swift
abbr --add sb swift build
abbr --add sp swift package
abbr --add spc swift package clean
abbr --add sr swift run
{{- end}}
{{- if .isLinux }}
# systemctl
abbr --add sctl sysmtemctl
{{- end }}
{{- if .isLinux }}
# trash-cli
abbr --add trash trash-put
{{- end }}
# ts-node
abbr --add tsn 'npx ts-node' # run local version of ts-node
# uuidgen
abbr --add uuid uuidgen {{- if .isLinux }} --random {{- end }}
# vim
abbr --add v vim
abbr --add vi vim
# vs code
abbr --add c code
#: open directories in vscode
abbr --add c. 'code .' # open current directory in VS Code
# zoxide
abbr --add ze zoxide edit
abbr --add zq zoxide query
abbr --add z zoxide
abbr --add zr zoxide remove
{{ if .isWSL2 }}
abbr --add open wslview # wslu
{{- end }}
# misc. personal stuff
abbr --add spot 'cd "$HOME/src/spotify-playlists" && playlist-update.fish' # ~/bin/playlist-update.fish
abbr --add flash-keychron 'cd "$HOME/src/qmk_firmware" && qmk flash -kb keychron/v6/ccb012100 -km default' # flash Keychron keyboard