if status is-interactive # Commands to run in interactive sessions can go here
    echo Loading config.fish...
    set --global --export EDITOR nvim

    fish_add_path $HOME/bin
    fish_add_path --append $HOME/.local/bin
    {{ if .isWSL2 }}
    # symlinks to Windows binaries

    if not test -f $HOME/bin/chrome
        ln -sv '/mnt/c/Program Files/Google/Chrome/Application/chrome.exe' $HOME/bin/chrome
    end

    set BROWSER $HOME/bin/chrome #: necessary so that we can use xdg-open from WSL

    if not test -f $HOME/bin/code
        ln -sv "/mnt/c/Program Files/Microsoft VS Code/bin/code" $HOME/bin/code
    end

    #: system clipboard
    if not test -f $HOME/bin/clip
        ln -sv /mnt/c/windows/SysWOW64/clip.exe $HOME/bin/clip
    end

    #: Windows PowerShell
    if not test -f $HOME/bin/pwsh-win
        ln -sv '/mnt/c/Program Files/PowerShell/7/pwsh.exe' $HOME/bin/pwsh-win
    end
    {{- end }}
    # less
    set --global --export LESS "-XR --mouse" # '-XR' same as '--no-init --RAW-CONTROL-CHARS'

    set --global --export GPG_TTY "$(tty)"

    stty -ixon # disable XON/XOFF control flow

    # source additional config files
    for x in "$HOME"/.config/fish/{abbreviations,git-abbreviations,aliases,tools}.fish
        source $x
    end

    source $HOME/.local/config-local.fish # local config unique to the machine

    # keyboard bindings
    #: use command `fish_key_reader` to get input codes
    bind \cx\ce edit_command_buffer # edit command in $EDITOR
    bind \eh history-pager # <Alt-h>
    bind \e\ch __fish_man_page # rebind from <Alt-h>
    # bind \en __fish_pipe_to_devnull # <Alt-n>
    #: keybindings for tools
    bind \er __fish_pipe_to_ripgrep # <Alt-k>
    bind \ez __fish_pipe_to_fzf # <Alt-j>
    bind \cr _atuin_search # Ctrl-r

    {{ if .isWSL2 }}
    eval $(keychain --eval ~/.ssh/*_ed25519) # get ssh key credentials from the running instance of ssh-agent
    {{- end}}
    {{- if .isMacOS }}
    ssh-add --apple-use-keychain ~/.ssh/{id_ed25519,work_ed25519}
    {{- end}}
    echo Loaded config.fish # DONE
end
