if status is-interactive # Commands to run in interactive sessions can go here
    echo Loading config.fish...
    set --global --export EDITOR nvim

    set --global --export PATH $HOME/bin $PATH
    set --global --export PATH $PATH $HOME/.local/bin
    {{ if (and (eq .chezmoi.os "linux") (contains "-microsoft-standard-WSL2" .chezmoi.kernel.osrelease)) }}
    # symlinks to Windows binaries

    if not test -f $HOME/bin/chrome
        ln -sv '/mnt/c/Program Files/Google/Chrome/Application/chrome.exe' $HOME/bin/chrome
    end

    set BROWSER $HOME/bin/chrome #: necessary so that we can use xdg-open from WSL

    if not test -f $HOME/bin/code
        ln -sv "/mnt/c/Program Files/Microsoft VS Code/bin/code" $HOME/bin/code
    end

    #: system clipboard
    if not test -f $HOME/bin/clip
        ln -sv /mnt/c/windows/SysWOW64/clip.exe $HOME/bin/clip
    end

    #: Windows PowerShell
    if not test -f $HOME/bin/pwsh-win
        ln -sv '/mnt/c/Program Files/PowerShell/7/pwsh.exe' $HOME/bin/pwsh-win
    end
    {{- end }}
    # less configuration
    #: -X leaves file contents on the screen when less exits.
    #: -F makes less quit if the entire output can be displayed on one screen.
    #: -R displays ANSI color escape sequences in "raw" form.
    set --global --export LESS "-XFR"

    set --global --export GPG_TTY "$(tty)"

    stty -ixon # disable XON/XOFF control flow

    # source additional config files

    for x in "$HOME"/.config/fish/{abbreviations,git-abbreviations,aliases,tools}.fish
        source $x
    end

    source $HOME/.local/config-local.fish # local config unique to the machine

    # keyboard bindings

    # use command `fish_key_reader` to get input codes
    bind \cr _atuin_search # bind search to Ctrl-r; this has to to be done _after_ calling fzf_key_bindings
    bind \cx\ce edit_command_buffer # edit command in $EDITOR
    bind \ea history-pager # <Alt-a>
    # bind \en __fish_pipe_to_devnull # <Alt-n>
    bind \er __fish_pipe_to_ripgrep # <Alt-k>
    bind \ez __fish_pipe_to_fzf # <Alt-j>

    set --global --export fzf_preview_file_cmd bat
    {{/* IF ON WSL2, THEN run these */ -}}
    {{- if (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft"))}}
    eval $(keychain --eval ~/.ssh/*_ed25519) # get ssh key credentials from the running instance of ssh-agent
    {{- end}}
    {{- if (eq .chezmoi.os "darwin") }}
    ssh-add --apple-use-keychain ~/.ssh/{id_ed25519,work_ed25519}
    {{- end}}
    echo Loaded config.fish # DONE
end
