[diff]
	command = "delta"
	args = ["{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
[merge]
	command = "meld"
{{- /* IF ON WSL2, THEN run 1Password as a service account */ -}}
{{- if (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft"))}}
[onepassword]
	mode = "service"
{{- end -}}