{{- /* IF ON WSL2, THEN run 1Password as a service account */ -}}
{{- if (and (eq .chezmoi.os "linux") (contains "-microsoft-standard-WSL2" .chezmoi.kernel.osrelease))}}
[onepassword]
	mode = "service"
{{- end -}}