<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_state</key>
	<false/>
	<key>CPU_barChart_position</key>
	<integer>0</integer>
	<key>CPU_bar_chart_box</key>
	<false/>
	<key>CPU_bar_chart_color</key>
	<string>purple</string>
	<key>CPU_bar_chart_frame</key>
	<true/>
	<key>CPU_bar_chart_label</key>
	<true/>
	<key>CPU_clustersGroup</key>
	<false/>
	<key>CPU_hyperhreading</key>
	<false/>
	<key>CPU_label_position</key>
	<integer>3</integer>
	<key>CPU_lineChart_position</key>
	<integer>1</integer>
	<key>CPU_mini_position</key>
	<integer>2</integer>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_splitValue</key>
	<false/>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_usagePerCore</key>
	<false/>
	<key>CPU_widget</key>
	<string>bar_chart</string>
	<key>Disk_state</key>
	<false/>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{842, 745}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSStatusItem Preferred Position CPU_bar_chart</key>
	<real>473</real>
	<key>NSStatusItem Preferred Position RAM_bar_chart</key>
	<real>438</real>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame eu.exelban.Stats.Settings.WindowFrame</key>
	<string>1328 434 728 856 0 0 2056 1290 </string>
	<key>Network_state</key>
	<false/>
	<key>RAM_barChart_position</key>
	<integer>0</integer>
	<key>RAM_bar_chart_box</key>
	<false/>
	<key>RAM_bar_chart_color</key>
	<string>teal</string>
	<key>RAM_bar_chart_frame</key>
	<true/>
	<key>RAM_bar_chart_label</key>
	<true/>
	<key>RAM_label_position</key>
	<integer>3</integer>
	<key>RAM_lineChart_position</key>
	<integer>2</integer>
	<key>RAM_memory_position</key>
	<integer>5</integer>
	<key>RAM_mini_position</key>
	<integer>1</integer>
	<key>RAM_pieChart_position</key>
	<integer>4</integer>
	<key>RAM_state_position</key>
	<integer>8</integer>
	<key>RAM_tachometer_position</key>
	<integer>6</integer>
	<key>RAM_text_position</key>
	<integer>7</integer>
	<key>RAM_widget</key>
	<string>bar_chart</string>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1775746715</integer>
	<key>updater_check_ts</key>
	<integer>1775842805</integer>
	<key>version</key>
	<string>2.12.8</string>
</dict>
</plist>
