<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSStatusItem Preferred Position Item-1</key>
	<real>371</real>
	<key>NSStatusItem Visible Item-0</key>
	<false/>
	<key>NSStatusItem Visible Item-1</key>
	<true/>
	<key>NSWindow Frame com.sindresorhus.Settings.FrameAutosaveName</key>
	<string>3365 1751 460 191 0 0 3840 2135 </string>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2024-10-31T21:23:42Z</date>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>SUUpdateGroupIdentifier</key>
	<integer>3364070974</integer>
	<key>hideMenuBarItemWhenNotPlaying</key>
	<false/>
	<key>menuBarItemWidth</key>
	<real>300</real>
	<key>miniPlayerBackground</key>
	<string>Album art</string>
	<key>miniPlayerType</key>
	<string>Minimal</string>
	<key>popoverBackground</key>
	<string>Album art</string>
	<key>popoverType</key>
	<string>Full</string>
	<key>showMenuBarPlaybackControls</key>
	<false/>
	<key>showPlayerWindow</key>
	<false/>
	<key>showStatusBarTrackInfo</key>
	<string>Always</string>
	<key>statusBarIcon</key>
	<string>Album art</string>
	<key>trackInfoDetails</key>
	<string>Artist and song</string>
	<key>viewedOnboarding</key>
	<true/>
	<key>viewedShortcutsSetup</key>
	<true/>
</dict>
</plist>
