[advice]
    addIgnoredFile = false
[blame]
    coloring = repeatedLines
    markIgnoredLines = true
    markUnblamableLines = true
[column]
    ui = auto
    branch = auto
    status = auto
    tag = auto
[core]
    attributesfile = ~/.config/git/attributes
    autocrlf = false
    editor = nvim
    excludesfile = ~/.config/git/ignore
    filemode = false
    fsmonitor = true
    untrackedCache = true
{{- /* IF NOT on work machine, THEN include these */ -}}
{{- if (and (ne .chezmoi.hostname "F9GRXCQDGC") (ne .chezmoi.hostname "8901-75SCSV3")) }}
    hooksPath = ~/.hooks
{{- end}}
[commit]
    gpgsign = true
    verbose = true
[credential]
    helper = wincred
{{- if eq .chezmoi.hostname "8901-75SCSV3" }}
[credential "https://dev.azure.com"]
    usehttppath = true
{{- end}}
[fetch]
    parallel = 0
    prune = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    process = git-lfs filter-process
    required = true
    smudge = git-lfs smudge -- %f
[gpg]
    # vscode doesn't support ssh signing at the moment: <https://github.com/microsoft/vscode/issues/179517>
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
[help]
    autoCorrect = prompt
[http]
    sslbackend = openssl
[init]
    defaultBranch = main
[log]
    follow = true
[pull]
    ff = only
    rebase = true
[push]
    autoSetupRemote = true
    default = simple
    useForceIfIncludes = true
[rebase]
    autoSquash = true
    autoStash = true
[status]
    showUntrackedFiles = all
[tag]
    gpgsign = true
[url "git@github.com:"]
    insteadof = https://github.com/
[user]
    useConfigOnly = true
{{- /* IF NOT on work machine, THEN include these */ -}}
{{- if (and (ne .chezmoi.hostname "F9GRXCQDGC") (ne .chezmoi.hostname "8901-75SCSV3")) }}
    name = Christopher Bocardo
    email = 397636+ccb012100@users.noreply.github.com
    signingkey = ~/.ssh/id_ed25519
{{- end}}