function update_packages --description 'Update various system packages'
    {{- if eq .chezmoi.os "linux" }}
    set_color purple
    echo 'Updating *apt* packages...'
    set_color normal
    sudo apt update and sudo apt upgrade --yes
    sudo -k
    {{- end }}
    set_color purple
    echo 'Updating *brew* and *fisher* packages...'
    set_color normal

    brew upgrade
    fisher update
    rustup update
    #gh extension upgrade --all

    # list globally installed dotnet tools
    dotnet tool list -g |
        # skip first 2 lines, then print just the first field (the tool's name)
        awk 'NR>2 { print $1 }' |
        # update tools in parallel
        xargs -P 0 -I % sh -c 'dotnet tool update -g %;'

    if test $status -ne 0
        set_color brred
        echo \n\t --- package updates failed! ---
        set_color normal
    end

    set_color brgreen
    echo \n\t--- Updated packages! ---
    set_color normal
end
