function update_packages --description 'Update various system packages'
{{- if eq .chezmoi.os "linux" }}
    set_color purple
    echo 'Updating *apt* packages...'
    set_color normal
    sudo apt update and sudo apt upgrade --yes
    sudo -k
{{- end }}
    set_color purple
    echo 'Updating *brew* and *fisher* packages...'
    set_color normal

    brew upgrade
    fisher update
    #gh extension upgrade --all

    if test $status -ne 0
        set_color brred
        echo \t --- package updates failed! ---
        set_color normal
    end

    set_color brgreen
    echo \t--- Updated packages! ---
    set_color normal
end
